{
    "presets": [
        "@babel/preset-react"
    ],
    "env": {
        "es6": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "modules": false
                    }
                ]
            ],
            "plugins": [
                "@babel/plugin-proposal-class-properties"
            ]
        },
        "es5": {
            "presets": [
                "@babel/preset-env"
            ],
            "plugins": [
                "@babel/plugin-proposal-class-properties"
            ]
        },
        "test": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "targets": {
                            "node": 6
                        }
                    }
                ]
            ],
            "plugins": [
                "@babel/plugin-proposal-class-properties"
            ]
        }
    }
}
