language: node_js
node_js:
  - 5
after_success:
  - npm run coveralls
script:
    - bash ./scripts/deploy.sh
env:
  global:
    - GITHUB_REPO: vkbansal/react-contextmenu
    - secure:  "qJiEWuE8BuFx5Rzx7ZBvQ1bHGChkZjkDQo13szIA3GMRojB72aPGDDj2f4jKaik0THEdIFz2nryjVHlsWoG2DToUiFUneEue5S0Si7ZToF55ntFAZmyporvYHhS4+LE4/lFYkcnDBr2Sc62FG4ILRkRf+QN0hhM9hw0uHjF810XSZRLBKG3COb/qM9psJr0eS4V5YaUngp4e3pmeanygspOUoB2dwfqp8d7jIPNCMYw8Doyw8kUzJyT6WgxgSGgyf62nK/gFu+ZkzGYzI7kMHMQh8Qn7usdKoMqiE1CqrzhOQLvZnnQTeBLzyz06IxiDKW8srf17phsECx0K+BfmZh1vzOrkbjBqynhFkuuSX5FjPGAuBHEhOB7+NVSyKXYStcORxhSWirJp1OlMF89zrD07uOH1vIS/mU4cL4hTzr5a8W8ckrYcTaaTQzjxZNqcXJqFL2vxb3JN3lTP0oHV8shhN6k1wpe869nRJUy/uSHSHP+O7b9meEuu+nnZs6/LyERzXyIH8h4/FLQGSAqKOTTilwaN7QUd8/bix0WMAj41AMUWRHlHI09uU0T4K3Q9WS7rc74I+GZMDcRlzWS+fLR/8vJshl12CIq+R/zciP2TUKnEAyl6/pJ/7akwIH4w3Vi6p2LA3M4Ih8QvuVWn5fwNtSFGNYszIVmRgvTIYfo="
